.App {
  text-align: center;
}
.App h3 a {
  color: inherit
}
.App.docked {
  padding-left: 200px;
}
.App-header {
  background-color: #542437;
  height: 50px;
  padding: 20px;
  color: white;
}
.App-content {
  overflow: auto;
}
.App-text {
  padding: 0 10px;
}
.GoogleLink{
  width: 200px;
}
.SectionTitle{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-top: 40px;
  display: block;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.video-parent-container {
  max-width: 800px;
  margin: auto;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
.source-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.source-link > span{
  margin-left: 10px;
}
.uniImages{
  display: flex;
}
.uniImages img{
  max-width: 100%;
  height: auto;
  margin-bottom: -3px;
}
.uniImages > *:nth-child(1){
  flex: 1.775;
}
.uniImages > *:nth-child(2){
  flex: 0.840;
}
.uniImages > *:nth-child(3){
  flex: 1.371;
}
.App-videos{
}
.App-videos video{
  width: 50%;
}
@media(max-width:600px){
  .uniImages{
    display: block;
  }
  .App-videos video{
    width: 100%;
  }
}
.captionedImage{
  position: relative;
}
.captionedImage > .caption{
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  color: white;
  padding: 20px;
  margin: 0;
  background-color: rgba(0,0,0,0.7);
}
.App-logo{
  margin: 20px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.npm-logo{
  width: 200px;
}
.medium-logo{
  width: 300px;
}

.mathjax-node-parent{
  animation: fadeIn 2s 1s backwards ease-in;
}
@keyframes fadeIn{
  from{
    opacity: 0;
    filter: blur(10px);
  }
  80%{
    opacity: 0.5;
    filter: blur(5px);
  }
  to{
    opacity: 1;
    filter: none;
  }
}
