.App {
  text-align: center;
  padding-left: 256px;
}

.App-header {
  background-color: #542437;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-text {
  font-size: large;
}

.App-markdown {
  text-align: left;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 700px;
}
.Languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}
.Languages > *{
  margin: 5px 10px;
}
.npm-logo{
  width: 200px;
}
.medium-logo{
  width: 300px;
}
.mathjax-node-parent{
  animation: fadeIn 2s 1s backwards ease-in;
}
@keyframes fadeIn{
  from{
    opacity: 0;
    filter: blur(10px);
  }
  80%{
    opacity: 0.5;
    filter: blur(5px);
  }
  to{
    opacity: 1;
    filter: none;
  }
}
