.App {
  text-align: center;
}
.App h3 a {
  color: inherit
}
.App.docked {
  padding-left: 200px;
}

.App-header {
  background-color: #542437;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-content {
  overflow: auto;
}
.App-text {
  font-size: large;
  padding: 0 10px;
}
.GoogleLink{
  width: 200px;
}
.SectionTitle{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-top: 40px;
  display: block;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.npm-logo{
  width: 200px;
}
.medium-logo{
  width: 300px;
}

.mathjax-node-parent{
  animation: fadeIn 2s 1s backwards ease-in;
}
@keyframes fadeIn{
  from{
    opacity: 0;
    filter: blur(10px);
  }
  80%{
    opacity: 0.5;
    filter: blur(5px);
  }
  to{
    opacity: 1;
    filter: none;
  }
}
