body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #fafafa
}
h1, p{
  font-weight: 300;
}
h2, h3{
  font-weight: 400;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a.no-dec:hover{
  text-decoration: none;
}
a.no-color{
  color: inherit;
}
img{
  max-width: 100%;
}
